{% extends "base.html" %}

{% block title %}Nodes{% endblock %}

{% block js%}

    <script type="text/javascript" >
function DoCommand(){
    var parameters = "";
    if($F('pname')){
	parameters = "pname=" + $F('pname');
    }

    new Ajax.Request("/ajDoCommand", {
			 method: 'post',
			 parameters: parameters,
			 asynchronous: true,
			 onSuccess: function(ret) {
			     var out = "";
			     if(ret.responseText == -1){
				out = "<font size=20 color=\"red\">Error</font>\n";
			     }else{
				out = "Command accepted. All Configs are started.\n";
			     }
			     $('out').innerHTML = out;
                             checkThread();
			 }
		     });
}

function checkThread(){
    new Ajax.Request("/ajcheckThread", {
			 method: 'post',
			 asynchronous: true,
			 onSuccess: function(ret) {
			     var out1 = "";
			     if(ret.responseText == -1){
				out1 = "<font size=20 color=\"red\">Error</font>\n";
			     }else{
				out1 = ret.responseText;
			     }
			     $('out1').innerHTML = out1;
			     
			 }
		     });
    
      
}

</script>

{% endblock %}

{% block content %}
  <H1>Select project</h1>
<select name="pname" id="pname">
  {% for proj in projs %}
    <option value="{{ proj['name'] }}">{{ proj['jname'] }}</option>
  {% endfor %}
</select>
<button onClick="DoCommand()">切り替え実行</button>


<div id="out"></div>
<div id="out1"></div>


{% endblock %}

